* {
    box-sizing: border-box;
}
body {
	margin: 0 auto;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	background-color: #55ACEE;
	color: #ffff;
}
.title {
	font-weight: 400;
	margin: 80px;
}
.quote , .author {
	font-weight: 400;
	font-size: 20px;
}
.buttons {
	width: 300px;
    margin: 60px auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.trigger {
	background: none;
	outline: none;
	padding: 0;
}
.tweet {
	text-decoration: none;
	.fab {
		margin: 0 5px;
	}
}
.btn {
    border: 1px solid #ffff;
    color: #ffff;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    cursor: pointer;
    margin-bottom: 30px;
    border-radius: 5px;
    transition: all .1s ease-in-out;
    &:hover {
        background: #ffff;
        color: #55ACEE;
    }
}
